<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Hey look the page doesn't scroll!</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container-jumbotron">
          <h1 class="text-left text-black-50">Test</h1>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go</button>
            </span>
          </div>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Sample text.</h1>
        <p class="lead">This is some more sample text so that there is a lot of text in this paragraph tag. Wow, it's getting pretty crowded in here with all this text. Yikes.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">A button!</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Cover template for
            <a href="https://getbootstrap.com">Bootstrap</a>, by
            <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>